# _defaults:
#   broker_home: /opt/artemis-2.14.0
#   broker_instance: /opt/artemis-2.14.0-i0/
#   jvm_vendor_short_name: sun

{% import 'artemis/2.14.0/_modules/security/jdk_gssapi/jvm_vendor.yaml.jinja2' as jvm_vendor with context %}

artemis_profile:
  home: '{{ broker_home }}'
  instance: '{{ broker_instance }}'
  data_dir: '{{ broker_instance }}/data'
  instance_uri: 'file:{{ broker_instance }}'
  instance_etc_uri: 'file:{{ broker_instance }}/etc/'
  java_args:
    - -XX:+PrintClassHistogram
    - -XX:+UseG1GC
    - -Xms512M
    - -Xmx2G
    - -Xloggc:gc.log
    - -XX:+HeapDumpOnOutOfMemoryError
    - -Dhawtio.realm=activemq
    - -Dhawtio.offline=true
    - -Dhawtio.role=amq
    - -Dhawtio.rolePrincipalClasses=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal
    - -Djolokia.policyLocation=${ARTEMIS_INSTANCE_ETC_URI}/jolokia-access.xml
    - -Djava.security.krb5.conf={{ gssapi_conf_file_path }}
    - -D{{ jvm_vendor.short_name | default('sun') }}.security.krb5.debug=true
    - -D{{ jvm_vendor.short_name | default('sun') }}.security.jgss.debug=true
