# yacfg requirements for easy installation of all development and testing dependencies

# Runtime Requirements
pyyaml
jinja2

# Testing Requirements
pytest
pytest-cov
flake8
mypy
mock
tox
coverage
yamllint
check-manifest

# Committing Requirements
pre-commit

# Docs Requirements
jupyter-book

# Optionals
colorlog
colorama
