# amqcfg requirements for easy installation of all development and testing dependencies

# Runtime Requirements
pyyaml
jinja2

# Testing Requirements
pytest
mock
tox

# Committing Requirements
pre-commit

# Optionals
colorlog
