# _defaults:
#   default_redistribution_delay: 1

  address_settings:
  - match: activemq.management#
    dead_letter_address: DLQ
    expiry_address: ExpiryQueue
    redelivery_delay: 0
    max_size_bytes: -1
    message_counter_history_day_limit: 10
    address_full_policy: PAGE
    auto_create_queues: true
    auto_create_addresses: true
    auto_create_jms_queues: true
    auto_create_jms_topics: true
  - match: 'test.performance.#'
    redistribution_delay: {{ default_redistribution_delay|default('1') }}
  - match: '#'
    dead_letter_address: DLQ
    expiry_address: ExpiryQueue
    redelivery_delay: 0
    max_size_bytes: -1
    message_counter_history_day_limit: 10
    address_full_policy: PAGE
    auto_create_queues: true
    auto_create_addresses: true
    auto_create_jms_queues: true
    auto_create_jms_topics: true
