        {% if policy.role == 'slave' %}
            {% if policy.properties is not defined %}
                <slave/>
            {% else %}
                <slave>
                    {% if policy.properties.cluster_name is defined %}
                    <cluster-name>{{ policy.properties.cluster_name  }}</cluster-name>
                    {% endif %}
                    {% if policy.properties.group_name is defined %}
                    <group-name>{{ policy.properties.group_name  }}</group-name>
                    {% endif %}
                    {% if policy.properties.vote_on_replication_failure is defined %}
                    <vote-on-replication-failure>{{ mbool(policy.properties.vote_on_replication_failure)  }}</vote-on-replication-failure>
                    {% endif %}
                    {% if policy.properties.max_saved_replicated_journals_size is defined %}
                    <max-saved-replicated-journals-size>{{ policy.properties.max_saved_replicated_journals_size  }}</max-saved-replicated-journals-size>
                    {% endif %}
                    {% if policy.properties.allow_failback is defined %}
                    <allow-failback>{{ mbool(policy.properties.allow_failback) }}</allow-failback>
                    {% endif %}
                    {% if policy.properties.initial_replication_sync_timeout is defined %}
                    <initial-replication-sync-timeout>{{ policy.properties.initial_replication_sync_timeout  }}</initial-replication-sync-timeout>
                    {% endif %}
                    {% if policy.properties.restart_backup is defined %}
                    <restart-backup>{{ policy.properties.restart_backup  }}</restart-backup>
                    {% endif %}
                    {% if policy.properties.failback_delay is defined %}
                    <failback-delay>{{ policy.properties.failback_delay  }}</failback-delay>
                    {% endif %}
                    {% if policy.properties.quorum_size is defined %}
                    <quorum-size>{{ policy.properties.quorum_size  }}</quorum-size>
                    {% endif %}
                    {% if policy.properties.vote_retries is defined %}
                    <vote-retries>{{ policy.properties.vote_retries  }}</vote-retries>
                    {% endif %}
                    {% if policy.properties.vote_retry_wait is defined %}
                    <vote-retry-wait>{{ policy.properties.vote_retry_wait  }}</vote-retry-wait>
                    {% endif %}
                </slave>
            {% endif %}
        {% endif %}
